.heading{
    width: 100%;
    margin-top: 0px;
    font-size: 20px;
}
.note{
font-size: 15px;
color: black;
}
body{
    background-image: url("background.jpg");
    background-size: cover;
}
img{
    width:150px;
}
.speed_div{
float: left;
}
.volume_div{
    float: right;
}
canvas{
    border-width: 15px;
    border-style: double;
    border-color: white;
    
}